<!DOCTYPE html>
<html>
  <head>
    <%- include css.ejs %>

  </head>
  <body>

    <%- include head.ejs %>
    <div class="col-md-6 col-md-offset-3">
      <h3>Data Absensi</h3>
      <table class="table table-hover">
        <tr>
          <td>NO</td>
          <td>ID</td>
          <td>NAMA SISWA</td>
          <td></td>
        </tr>
        <% var i =1; ok.forEach(d => { %>
          <tr>
            <td><%= i++ %></td>
            <td><%= d.id %></td>
            <td><%= d.name %></td>
            <td>
              <a href="/subjects<%= d.id %>/kirim-sms">
                <span class="glyphicon glyphicon-send"></span> &nbsp; Notifikasi Wali Murid
              </a>
            </td>
          </tr>
        <% })%>
      </table>
    </div>
  </body>
</html>
