<!DOCTYPE html>
<html>
  <head>  <%- include css.ejs %>

  </head>
  <body>

    <%- include head.ejs %>


  <div style="margin-top:15px"><!---->

    <div class="container">
      <form class="form-inline" action="/subjects" method="post">
        <input class="form-control" type="text" name="name" value="" placeholder="Tambah Mata Pelajaran">
        <button class="btn btn-primary" type="submit" name="button"> <span class="glyphicon glyphicon-send"></span> &nbsp; Tambah Mapel</button>
      </form><br><br>

      <!--tabel-->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>ID</th>
            <th>Subject Name</th>
            <th>Presensi</th>
            <th>Options</th>
          </tr>
        </thead>
      <% if(data.length == 0){ %>
        <tr>
          <td colspan="5">Mohon maaf, belum ada data</td>
        </tr>
      <% } else { %>

          <tbody>
            <%var i =1; data.forEach(d=>{ %>
              <tr>
                <td> <%= i++ %> </td>
                <td> <%= d.id %> </td>
                <td> <%= d.name %> </td>
                <td>
                  <a href="/subjects/<%= d.id %>/isi-presensi">
                    <button class="btn btn-success" type="button" name="button">Isi Presensi</button>
                  </a>
                </td>
                <td>
                  <a href="/subjects/edit/<%= d.id %>"><button class="btn btn-warning" type="button" name="button">Edit</button></a>
                  <a href="/subjects/delete/<%= d.id %>"><button class="btn btn-danger" type="button" name="button">Delete</button></a>
                </td>
              </tr>
            <%})%>
          </tbody>

      <% } %>
      </table>
    </div>

  </div>

  </body>
</html>
